<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Slider</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <!-- my app -->
    <div id="app" v-cloak>
      <div class="container">
        <div
          class="slider-wrapper"
          tabindex="0"
          @mouseenter="stopCarousel"
          @mouseleave="startCarousel"
        >
          <!-- main image slider -->
          <div
            class="item"
            v-for="(game, index) in games"
            v-show="currentIndex === index"
          >
            <img :src="games[index].image" alt="" />
            <div class="text">
              <h3>{{games[index].title}}</h3>
              <p>{{games[index].text}}</p>
            </div>
          </div>

          <div class="thumbs">
            <!-- buttons -->
            <div class="prev" @click="prevImg"></div>
            <div class="next" @click="nextImg"></div>
            <!-- thumbs -->
            <div
              class="thumb"
              :class="activeThumb(index)"
              v-for="(game, index) in games"
            >
              <img
                :src="games[index].image"
                alt=""
                @click="setActiveImage(index)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js -->
    <script src="./js/script.js"></script>
    <!-- /js -->
  </body>
</html>
